.welcome-explore {
    text-align: center;
}
.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.stock-ticker {
    text-align: center;
    border: solid black 1px;
    width: 5%;
    font-size: 12px;
    margin-top: 0;
}
.stock-ticker:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.stock-data {
    text-align: center;
    margin-top: 3rem;
}