.signup-container {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    margin-top: 1rem;
}
label { 
    margin-top: .5rem;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.create-account {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-section {
    margin-top: 1rem;
    text-align: center;

}