.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(153, 255, 0, 0.41);
}
.footer-container {
    position: absolute;
    right: 5rem;
    top: 20%;
}
.footer-buttons {
    text-decoration: none;
    color: green;
    font-size: 14px;
}
.copyright { 
    margin-top: 3rem;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}