.footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(153, 255, 0, 0.41);
}
.footer-logo {
    margin-left: 5rem;
}
.footer-image {
    margin-top: 1rem;
}
.footer-container {
    position: absolute;
    right: 0;
    margin-top: 1rem;
}
.footer-links {
    padding: 5px;
    background-color: lightgreen;
    border-radius: 5px;
    border: solid 2px white;
    margin-right: 5rem;
    margin-top: 5px;
}