.logo {
    height: 40px;
    margin-top: .5rem;
}
.navbar-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 1rem;
}
.nav-container {
    position: absolute;
    right: 0;
    margin-right: 5rem;
    margin-top: 1rem;
}
.links {
    margin-left: 1rem;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px;    
    text-decoration: none;
    color: white;
    font-size: 14px;
}